html,
body {
    margin: 0;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;

}

.nav-items {
    list-style: none;
    display: flex;

}

/* .nav-items>li {
    padding: 10px;
} */

.nav-items li {
    padding: 10px;
}

.logo {
    width: 70px;
}

.content {
    padding: 30px;
}

.content h1 {
    text-shadow: 2px 2px 4px pink
}